.modal-content {
    width: max-content;
}

hr {
    border-top: 1px solid #f8f9fa;
}

.card-header {
    background-color: #eee;
    -webkit-text-fill-color: black;
}
.card-body {
    background-color: #454e5c;
}

.modal-content {
    width: max-content;
}

hr {
    border-top: 1px solid #f8f9fa;
}

.btn-primary {
    background-color: #848484;
    border-color: #999999;
    color: #ffffff;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
}

.check1 {
    margin-left: -10px;
    margin-top: 34px;
}

.finish1 {
    margin-left: -100px;
}

.btn-continue:hover {
    background-color: rgb(175, 175, 100);
}

button.btn.btn-warning.ng-star-inserted {
    color: white;
    background-color: #f8ac59;
    border-color: #f8ac59;
}

.form-control {
    font-size: 14px;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 3px solid #36cc95;
}
.example-h2 {
    margin: 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 850px;
    align-content: center;
    float:center;
    padding-top: 200px;
  }
