textarea#exampleFormControlTextarea1 {
    width: 792px;
    height: 127px;
}

a.btn.btn-warning.btnPreviousWidget {
    margin-left: 1079px;
}

button.btnMembersTagAppointmentMemo {
    margin-left: 1043px;
}

.ibox-title {
    border-top: 4px solid #1ab394 !important;
    background: #eee;
}

.ibox-title {
    height: 56px;
}

button.ddd {
    margin-left: 1080px;
}

input#exampleCheck1 {
    margin-left: 861px;
}

label.form-check-label {
    margin-left: 882px;
}

h5 {
    padding: 10px;
}

.hhhh {
    margin-bottom: -21px;
}

textarea#exampleFormControlTextarea1 {
    border-bottom: 2px solid #36cc95 !important;
}

form.ng-untouched.ng-pristine.ng-valid {
    text-align-last: center;
}

input#inputSearch {
    margin-left: 54px;
    width: 350px;
    padding-top: 9px;
    border-bottom: 2px solid #36cc95;
}

label {
    text-align: 57px;
    margin-left: 53px;
}

button.btn.btn-primary {
    margin-top: -10px;
}

.btn-continue:hover {
    background-color: rgb(175, 175, 100);
}

label {
    font-size: large;
}

button.btn.btn-secondary {
    margin-left: 414px;
    margin-top: -65px;
}

h3 {
    margin-left: 270px;
    margin-bottom: -33px;
}

button.btn.btn-success {
    margin-left: auto;
    background-color: gray;
    margin-right: 18px;
    margin-bottom: 15px;
}

button.btn.btn-danger {
    margin-left: auto;
}



textarea#exampleFormControlTextarea1 {
    margin-top: -4px;
    margin-bottom: 52px;
}
button.btn.btn-primary {
    float: right;
}
