.searchf {
    margin-left: -1200px;
    webkit-text-fill-color: white;
}

.searchf1 {
    margin-left: 200px;
}

.form-control {
    font-size: 14px;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 3px solid #36cc95;
}

mat-panel-title.mat-expansion-panel-header-title {
    background-color: #337ab7;
}

h3 {
    color: white;
}

h1 {
    background-color: #eee;
    // background:antiquewhite;
    text-transform: uppercase;
    text-align: left;
}

img {
    border-radius: 88px;
    height: 52px;
    width: 137px;
}

input.e-input.e-lib.e-keyboard {
    /* padding-bottom: 10px; */
    padding-top: 24px;
}

.modal-body.ng-star-inserted {
    /* padding-left: 17px; */
    padding-right: -33px;
    width: 1992px;
}

.ibox-title {
    border-top: 4px solid #1ab394 !important;
    background: #eee;
    height: 45px;
}

button.btn.btn-light {
    background-color: white;
    padding: 2px;
    border-bottom: 3px solid #36cc95;
    border-radius: inherit;
    width: 42px;
    height: 35px;
}

img.btnnn {
    width: 31px;
    height: 21px;
    padding-left: 9px;
    padding-right: -84px;
}

button.btn.btn-secondary.collapsed {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-top: 8px;
}
