.searchf {
    margin-left: -1200px;
    webkit-text-fill-color: white;
}

.searchf1 {
    margin-left: 200px;
}

.form-control {
    font-size: 14px;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 3px solid #36cc95;
}

mat-panel-title.mat-expansion-panel-header-title {
    background-color: rgb(179, 179, 174);
}

h3 {
    color: black;
    border-top: 4px solid #1ab394 !important;
    background: #eee;
}

h1 {
    background: antiquewhite;
    text-transform: uppercase;
    text-align: center;
}

img {
    border-radius: 88px;
    height: 52px;
    width: 137px;
}

input.e-input.e-lib.e-keyboard {
    padding-bottom: 10px;
    padding-top: 24px;
}

button.btn.btn-warning.pull-right {
    margin-left: 730px;
}

button.btn.btn-warning.pull-right {
    margin-bottom: 66px;
}

label.btn.btn-default.active {
    background: green;
}

button.btn.btn-secondary {
    width: 90px;
}

button.btn.btn-secondary {
    text-align: center;
    width: 90px;
}

.ttt {
    float: right;
}

button.btn.btn-primary {
    margin-top: 0px;
    float: right;
}

button.btn.btn-secondary {
    width: 82px;
}

.ibox-title {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

input.e-input.e-lib.e-keyboard {
    padding-bottom: 10px;
    padding-top: 24px;
}

.t1 {
    background-color: #f8ac59;
}

.btn-next:hover {
    background-color: rgb(175, 175, 100);
}

.btn-complete:hover {
    background-color: rgb(175, 175, 100);
}
