&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="ibox-title">
    <h3>Appointment Reason</h3>
</div>
<div class="ibox-content">
    <div id="dvAppointmentReasonInfo">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 idScheduleAppointmentReason" id="idScheduleAppointmentReason">
                    <label class="btn btn button btnhovr">

                        <input type="radio" class="rdoAppointmentType" value="30" name="rdoAppointmentType">

                        Administrative Request
                    </label>

                    <div class="items-collection">
                        <div class="btn-group" data-toggle="buttons">

                            <br>
                            <br>
                            <br>
                            <div class="col-lg-3" style="border-left:2px dashed lightgray;">



                                <div style="float: left; display: inline-block; width: 100%; margin-top: 5px;">
                                    <h4>General office visits</h4>
                                </div>

                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="32" name="rdoAppointmentType">
                                    Consultation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="38" name="rdoAppointmentType">
                                    Depo
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="39" name="rdoAppointmentType">
                                    Emergency Add On
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="1" name="rdoAppointmentType">
                                    Follow Up Visit
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="37" name="rdoAppointmentType">
                                    IME
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="6" name="rdoAppointmentType">
                                    Initial Evaluation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="41" name="rdoAppointmentType">
                                    Life Plan Report
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="22" name="rdoAppointmentType">
                                    Narrative Report
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="31" name="rdoAppointmentType">
                                    Other
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="23" name="rdoAppointmentType">
                                    Permanency Report
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="24" name="rdoAppointmentType">
                                    Post-Op-Visit
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="36" name="rdoAppointmentType">
                                    Scheduled Loss Of Use
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="7" name="rdoAppointmentType">
                                    Surgery
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="34" name="rdoAppointmentType">
                                    Surgery Consultation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="35" name="rdoAppointmentType">
                                    Urgent Doctor Visit
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="4" name="rdoAppointmentType">
                                    Urgent Visit
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="5" name="rdoAppointmentType">
                                    Wellness Exam
                                </label>
                            </div>
                            <div class="col-lg-3" style="border-left:2px dashed lightgray;">

                                <div style="float: left; display: inline-block; width: 100%; margin-top: 10px;">
                                    <h4></h4>
                                </div>

                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="52" name="rdoAppointmentType">
                                    APOS Therapy
                                </label>
                                <label class="btn btn-default button" (click)="ButtonEvents()">
                                    <input type="radio" value="53" name="rdoAppointmentType">
                                    Apos Therapy Initial visit
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="51" name="rdoAppointmentType">
                                    C.27 Evaluation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="46" name="rdoAppointmentType">
                                    Hospital Consultation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="42" name="rdoAppointmentType">
                                    Lower EMG and Lower NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="43" name="rdoAppointmentType">
                                    Lower EMG and Upper NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="49" name="rdoAppointmentType">
                                    Physician Affirmation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="50" name="rdoAppointmentType">
                                    Upper and Lower EMG
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="45" name="rdoAppointmentType">
                                    Upper EMG and Lower NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="44" name="rdoAppointmentType">
                                    Upper EMG and Upper NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="47" name="rdoAppointmentType">
                                    Virtual Visit
                                </label>
                            </div>
                            <div class="col-lg-3" style="border-left:2px dashed lightgray;">



                                <div style="float: left; display: inline-block; width: 100%; margin-top: 10px;">
                                    <h4>Diagnostic Appointments</h4>
                                </div>

                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="27" name="rdoAppointmentType">
                                    Diagnostic Ultrasound
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="14" name="rdoAppointmentType">
                                    Lower EMG
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="16" name="rdoAppointmentType">
                                    Lower NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="21" name="rdoAppointmentType">
                                    MRI
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="17" name="rdoAppointmentType">
                                    ROM
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="13" name="rdoAppointmentType">
                                    Upper EMG
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="15" name="rdoAppointmentType">
                                    Upper NCV
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="26" name="rdoAppointmentType">
                                    Urine Screening
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="20" name="rdoAppointmentType">
                                    X-Ray
                                </label>


                                <div style="float: left; display: inline-block; width: 100%; margin-top: 10px;">
                                    <h4>Physical Therapy</h4>
                                </div>

                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="11" name="rdoAppointmentType">
                                    Physical Therapy Initial Evaluation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="33" name="rdoAppointmentType">
                                    Physical Therapy Reevaluation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="9" name="rdoAppointmentType">
                                    Physical Therapy Visit
                                </label>
                            </div>
                            <div class="col-lg-3" style="border-left:2px dashed lightgray;">



                                <div style="float: left; display: inline-block; width: 100%; margin-top: 10px;">
                                    <h4>In Office Procedure</h4>
                                </div>

                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="10" name="rdoAppointmentType">
                                    In Office Procedure
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="18" name="rdoAppointmentType">
                                    Osteopathic Manipulation
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="29" name="rdoAppointmentType">
                                    PRP Injections
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="28" name="rdoAppointmentType">
                                    Steroid Injections
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="25" name="rdoAppointmentType">

                                    Trigger Point Injection
                                </label>
                                <label class="btn btn-default button radioBtn" (click)="ButtonEvents()">
                                    <input type="radio" value="19" name="rdoAppointmentType">
                                    Ultrasound Guided Injection
                                </label>
                            </div>


                        </div>

                    </div>

                </div>
            </div>


            <div class="row" class="ttt" style="margin-top: 20px; margin-left: 900px;">
                <button class="btn btn-warning" (click)='previousInsurance()'>Previous</button>&nbsp;
                <button class="btn btn-secondary btn-next" *ngIf="appointmemntNextButtonEvent"
                    (click)='nextRefferel()'>Next</button>&nbsp;
                <button class="btn btn-secondary btn-complete" *ngIf="appointmemntContinueButtonEvent"
                    (click)='onclick()'>Complete</button>&nbsp;&nbsp;

            </div>



        </div>
    </div>

</div>

<!--------------------------------- END OF APPOINTEMENTS --------------------------------------------->
