.btn1 {
    float: right;
}

h4 {
    background-color: #eee;
    border-top: 3px solid #36cc95;
    margin-top: 35px;
}
.ha {
    z-index: -1;
}
.btngrp {
    float: right;
    margin-right: -886px;
    margin-top: -39px;
}
.btngrpsec {
    float: right;
    margin-right: 127px;
}
.form-control {
    font-size: 14px;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 3px solid #36cc95;
}
input.check {
    width: 40px;
    height: 20px;
    padding-top: -35px;
}
.btnsave {
    float: right;
    padding-bottom: -6px;
    margin-top: 18px;
    margin-right: 12px;
}
.modal-header {
    padding-bottom: opx;
    margin-bottom: 21px;
}
h4 {
    margin-bottom: 62px;
}
