img {
    margin-right: 1200px;
    }

    button.btn.btn-primary {
    margin-top: 29px;
    float: right;
    }
    mat-toolbar-row.mat-toolbar-row {
    background-color: #1c2140;
    }

    img.img2 {
    padding-left: 13px;
    cursor: pointer;
    }

    .searchf {
    margin-left: -1200px;
    webkit-text-fill-color: white;
    }
    .searchf1 {
    margin-left: 200px;
    }

    .form-control {
    font-size: 14px;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 3px solid #36cc95;
    }
    mat-panel-title.mat-expansion-panel-header-title {
    background-color: #848484;
    }
    h3 {
    color: white;
    }
    h1 {
    background: antiquewhite;
    text-transform: uppercase;
    text-align: center;
    }
    img {
    border-radius: 88px;
    height: 52px;
    width: 137px;
    }
    input.e-input.e-lib.e-keyboard {
     padding-bottom: 10px;
    padding-top: 24px;
    }

    input.e-input.e-lib.e-keyboard {
    color: white;
    }
    .e-multi-select-wrapper {
    box-sizing: border-box;
    cursor: text;
    line-height: normal;
    min-height: 22px;
    padding: 0 32px 0 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    }
    .mat-tab-labels {
    color: white;
    }
    // style for menu tool
    // img.menu-img.mat-menu-trigger {
    // width: 29px;
    // height: 38px;
    // }
    // .mat-tab-list {
    // background-color: #a8abad;
    // }
    // .mat-tab-group {
    // background-color: rgb(175, 173, 173);
    // // color: white;
    // }
    // .mat-tab-label-content {
    // color: white;
    // }
    .spanclass{
    color:white;
    }
    .example-tab-icon{
    color:white;
    }
    .e-multi-select-wrapper {
    margin-top: -3px;
    }
    span.e-input-group.e-control-wrapper.e-date-wrapper {
    margin-top: -3px;
    }


    .example-h2 {
    margin: 10px;
    }

    .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    }

    .example-margin {
    margin: 0 850px;
    align-content: center;
    float:center;
    padding-top: 200px;
    }
    img.menu-img.mat-menu-trigger {
    width: 29px;
    height: 38px;
    }
    .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    }
    img.cccc {
    width: 43px;
    border-radius: 0px;
    }
    img.bbb{
    width: 43px;
    border-radius: 0px;

    }

    .search_str{
    min-width: 100px !important;
    }




    .ng-tns-c20-4.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
        width: -webkit-fill-available;
    }
