<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="assets/images/download.png" />

        <div class="searchf form-group col-md-3">
            <form (keydown)="keyDownFunction($event)" [formGroup]="details">
                <input formControlName="patientname" type="text" placeholder="Search for Patients"
                    class="topSearchNav search_str" name="top-search" autocomplete="off" id="txtTopSearch"
                    style="outline: 0; border: 0; background: transparent; border-bottom: 1px solid #1ab394; width: 100%; height: 35px; padding-left: 10px; -moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px; margin: 10px 0px 0px 0px; color:#FFF;"
                    maxlength="100" data-req-url="/Search/Index" />
            </form>
        </div>
        <div class="col-md-3">
            <span class="fill-remaining-space">
                <img src="assets/images/Dashboards.png" class="cccc" [matMenuTriggerFor]="appMenu"
                    #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" />

                <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <button mat-menu-item (click)="onClickMC()">
                            Adjuster Dashboard
                        </button>
                        <button mat-menu-item (click)="onClickAD()">
                            Schedule an appointment
                        </button>
                        <button mat-menu-item (click)="onClickOD()" (click)="selectedIndex = 1">
                            Office Dashboard
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            My cases
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Billing
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Incident Managment
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Case Managment Dashboard
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Initioate Referral
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Booking Sheet Dashboard
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Asc Schedule
                        </button>
                        <button mat-menu-item (click)="onClickMC()">
                            Patient Portal
                        </button>
                    </span>
                </mat-menu>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group *ngIf="main" [(selectedIndex)]="selectedIndex" style="background-color: #969697;color: white">
    <mat-tab *ngIf="officeDashboard">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_note</mat-icon>
            <div class="spanclass">Appointment Dashboard</div>
        </ng-template>
    </mat-tab>

    <mat-tab *ngIf="officeDashboard">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_note</mat-icon>
            <div class="spanclass">Appointment Scheduler</div>
        </ng-template>

        <form [formGroup]="searchFilter" (ngSubmit)="openEdit()">
            <mat-accordion style=" margin-top: -105px; width:2000px">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Search Filter</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="form-group row">
                        <div class="form-group col-md-3">
                            <label><b>Practice</b></label>

                            <ejs-multiselect class="form-control" formControlName="practice_name" id="localData" #local
                                [dataSource]="arraypractice" [fields]="localFields" [placeholder]="localWaterMark">
                            </ejs-multiselect>
                        </div>

                        <div class="form-group col-md-3">
                            <label><b>Location </b></label>

                            <ejs-multiselect id="localData" class="form-control" formControlName="location_name" #local
                                [dataSource]="arraylocation" [fields]="localFields1" [placeholder]="localWaterMark1">
                            </ejs-multiselect>
                        </div>

                        <div class="form-group col-md-3">
                            <label> <b>Provider/Physician Assistant</b></label>

                            <ejs-multiselect class="form-control" formControlName="provider_name" #local
                                [dataSource]="arrprov" [fields]="localFields2" [placeholder]="localWaterMark2">
                            </ejs-multiselect>
                        </div>

                        <div class="form-group col-md-3">
                            <label><b>Specialty</b></label>

                            <ejs-multiselect id="localData" class="form-control" formControlName="speciality_name"
                                #local [dataSource]="arrspec" [fields]="localFields3" [placeholder]="localWaterMark3">
                            </ejs-multiselect>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label><b>Search From Date</b></label><br />

                            <input formControlName="from_date" type="date" class="form-control" />
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <div style="margin-top: 30px;">
                            <mat-checkbox><b>Clinical</b></mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-checkbox><b>PT</b></mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-checkbox><b>Dx</b></mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-checkbox><b>Concierge</b></mat-checkbox>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>

                        <div class="form-group col-md-2">
                            <label><b>Scheduler Start Time</b></label>
                            <ejs-dropdownlist class="form-control" [dataSource]="data" placeholder="Select Start Time"
                                popupHeight="250px" popupWidth="250px">
                            </ejs-dropdownlist>
                        </div>
                        <div class="form-group col-md-2">
                            <label><b>Scheduler End Time</b></label>
                            <ejs-dropdownlist class="form-control" [dataSource]="data" placeholder="Select End Time"
                                popupHeight="250px" popupWidth="250px">
                            </ejs-dropdownlist>
                        </div>

                        <div class="form-group col-md-2">
                            <p-growl [(value)]="msgs"></p-growl>
                            <button class="btn btn-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <app-schedular *ngIf="schedule" [formValue]="searchFilter.value.from_date"></app-schedular>
        </form>
    </mat-tab>

    <mat-tab label="Mycases">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">insert_drive_file</mat-icon>
            <div class="spanclass">My Cases</div>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div *ngIf="table">
    <div class="modal-body">
        <div>
            <table class="table">
                <thead style="background-color: #337ab7; color: white">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Account</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>CaseType</th>
                        <th>TelePhone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arr | paginate: config; let i = index">
                        <td>
                            <i class="fa fa-user-plus fa-2x" aria-hidden="true" title="Patient"></i>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.accountNumber }}</td>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName }}</td>
                        <td>{{ item.caseType }}</td>
                        <td>{{ item.telephone }}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
        </div>
    </div>
    <div class="row" class="ttt" style="margin-top: 20px; margin-left: 900px;">
        <button style="float: right;" class="btn btn-warning" (click)="onclickback()">
            Back</button>&nbsp;
    </div>
</div>
