.navbar {
    color: rgba(46, 44, 44, 0.836);
    background-color: rgb(151, 149, 149);
}

span.navbar-brand.mb-0.h1 {
    margin-left: 20px;
}
h5 {
    margin-left: 52px;
}
h6 {
    margin-left: 19px;
}
h6.text {
    margin-left: 52px;
}
.card.text-white.bg-secondary.mb-3 {
    width: 1836px;
}
input#txtlegalrepmemid {
    margin-left: 16px;
}
input#txtlegalrepmemid {
    margin-right: 975px;
}
